<div class="map" id="map"></div>
<script>
  window.mapData = {"latitude": 37.28655579967086 ,"longitude": 127.0458858734021, "zoom": 16};

  function initMap() {
    var myOptions = {
      scrollwheel: false,
      draggable: true,
      panControl: true,
      disableDefaultUI: false,
      zoom: window.mapData.zoom,
      center: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);

    var marker = new google.maps.Marker({
      map: map,
      position: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude),
      title: "CILAB",
      animation: google.maps.Animation.DROP,
    });
    var infowindow = new google.maps.InfoWindow({
      content: "CILAB"
    });
    marker.addListener("click", toggleBounce);
    marker.addListener("click", () => {
      infowindow.open({
        anchor: marker,
        map,
        shouldFocus: false,
      });
    });
    function toggleBounce() {
      if (marker.getAnimation() !== null) {
        marker.setAnimation(null);
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
      }
    }

    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(myOptions.center);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6EQIam9lIzV6cPKGZAO2GrwTFkoKVOME&amp;callback=initMap"></script>