<footer>
    <div class="gallery">
        <img src="/assets/images/home/lab.jpg">
        <img src="/assets/images/home/lab2.jpg">
        <img src="/assets/images/home/lab3.jpg">
        <img src="/assets/images/home/lab4.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="join">
                    <img src="/assets/images/home/join.png" id="join-logo">
                    <div>
                        <h2>Join Us</h2>
                        <p>We're always looking for more talented, passionate people</p>
                        <div>
                            <a href="https://github.com/Team-Ryu">
                                <div>
                                    <img src="/assets/images/home/github.png">
                                </div>
                            </a>
                            <a href="mailto:jongbinryu@ajou.ac.kr">
                                <div>
                                    <img src="/assets/images/home/envelop.png">
                                </div>
                            </a>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sitemap">
            <p>2022 @ CILab, Artificial Intelligence, Ajou University</p>
            <p>Industry-Academic Cooperation Foundation Building Room 212, 206 World cup-ro, Yeongtong-gu, Suwon 16499, Korea | jongbinryu@ajou.ac.kr</p>
        </div>
    </div>
</footer>