// 1. intro
.home-intro {
    display: flex;
    align-items: center;
    .home-intro-left {
        width: 50%;
        div {
            height: 634px;
            position: relative;
            width: 100%;
            overflow: hidden;
            border-radius: 8px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .home-intro-right {
        max-width: 575px;
        margin-left: auto;
        h1 {
            margin-bottom: 32px;
            font-size: 60px;
            font-weight: 800;
            line-height: 1;
        }
        p {
            margin-bottom: 0px;
            font-size: 18px;
        }
        .home-intro-button {
            background-color: $bg-grey;
            border-radius: 12px;

            width: 100%;
            height: 70px;
            padding: 20px;
            margin-top: 32px;

            display: flex;
            justify-content: stretch;
            align-items: center;

            font-size: 16px;
            font-weight: 700;
            line-height: 21px;

            .right-dash {
                border-right: 1px solid black;
            }

            a {
                display: block;
                flex: 1;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    padding-left: 8px;
                }
            }
        }
    }
}

// 2. latest work
.section-info {
    max-width: 540px;
    margin: 0 auto 48px;
    text-align: center;
    
    h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 48px;
        line-height: 1;
    }

    p {
        margin-bottom: 0;
    }
}


article {
    margin-bottom: 32px;
    transition: transform .2s ease-in-out;
    width: 33.333333333333333%;
    padding-left: 16px;
    padding-right: 16px;
    div {
        a {
            position: relative;
            display: block;
            width:100%;
            height:100%;
            min-height: 280px;
            border-radius: 8px;
            transform: translate(0);
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width:100%;
                height:100%;
                max-width: 100%;
                vertical-align: middle;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        a::after {
            content: "";
            display: table;
            padding-top:85%;
        }
        div {
            margin-top: 24px;
            text-align: center;
            h3 {
                margin-bottom: 16px;
                font-size: 32px;
                line-height: 1;
            }
            div {
                font-size: 12px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 1.6px;
                text-transform: uppercase;
            }
        }
    }
}

// 3. member
.grey-bg {
    padding: 100px 0 152px;
    background-color: $bg-grey;
}

.card-grid {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 1 auto;
    // padding-right: 32px;
}

.card-view {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    display: inline-block;
    background-color: white;
    text-align: center;
    padding: 36px 0;
    margin: 0px 10px;
    border-radius: 8px;

    .card-img {
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin: 0 auto 20px;
        border-radius: 50%;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        a img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .card-name-pos {
        margin-bottom: 16px;
        h3 {
            margin-bottom: 0;
            font-size: 21px;
            line-height: 1;
            font-weight: 700;
        }
        p {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 15px;
            font-family: 'Darker Grotesque';
            // color: $text-color-gray;
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // border: 5px solid gray;
            a {
                display: flex;
                align-items: center;
                padding: 0 3px;
                // border: 5px solid red;
            }
        }
    }
    .card-desc {
        margin-bottom: 16px;
        font-size: 15px;
        ul {
            padding: 0;
            li {
                display: block;
                line-height: 1.2;
            }
        }
    }
}

.home-card-view {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 0px 10px;
    width: 31%;
}

.scroller {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .scroller-btn {
        margin: 0 5px;
        width: 20px;
        height: 4px;
        background-color: $head-text-color;
        opacity: .2;
        border-radius: 2px;
    }
}

// 반응형
@media only screen and (max-width: 1400px) and (min-width: 1025px) {
    .home-intro .home-intro-left div {
        height: 484px;
    }
    .home-intro .home-intro-right {
        max-width: 440px;
    }
}

@media only screen and (max-width: 1024px) {
    .home-card-view {
        margin: 0px 5px;
        width: 47%;
    }
    .home-intro {
        flex-direction: column;
        padding: 40px 0 0;
    }
    .home-intro .home-intro-left {
        width: 100%;
        margin-top: 40px;
    }
    .home-intro .home-intro-left div {
        height: 440px;
    }
    .home-intro .home-intro-right {
        max-width: 100%;
        order: -1;
    }
    article {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .home-card-view {
        margin: 0px;
        width: 100%;
    }
    article {
        width: 100%;
    }
    .home-intro .home-intro-left div {
        height: 420px;
    }
    .home-intro .home-intro-right {
        max-width: 100%;
        order: -1;
    }
}

@media only screen and (max-width: 576px) {
    .home-intro .home-intro-right h1 {
        font-size: 36px;
        margin-bottom: 36px;
    }
    .home-intro .home-intro-left div {
        height: 280px;
    }
    .section-info h2 {
        font-size: 36px;
    }
}