<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home-intro">
                    <div class="home-intro-left">
                        <div>
                            <img loading="lazy" src="/assets/images/home/main_picture.jpg">
                        </div>
                    </div>
                    <div class="home-intro-right">
                        <h1> We're Computer Vision Research Group </h1>
                        <p> Our teams are innovating at the cutting edge of computer vision fields in order to tackle challenges and build products that impact billons of people every day. </p> 
                        <div class="home-intro-button">
                            <a class="right-dash">
                                <span>See Demo</span>
                                <img src="/assets/icons/play.svg">
                            </a>
                            <a href="/join.html">
                                <span>Join Us</span>
                                <img src="/assets/icons/envelope.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

