<section class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <div class="section-info">
                        <h2>Latest works</h2>
                        <p>Publishing our work allows us to share ideas and work collaboratively to advance the field of computer vision</p>
                    </div>
                    <div class="row">
                        {% assign latest_papers = site.publications | sort: "date" | reverse | slice: 0, 6 %}
                        {% for paper in latest_papers %}
                        <article>
                            <div>
                                <a href="{{ paper.url }}"><img src="{{ paper.img }}"></a>
                                <div>
                                    <h3>{{ paper.title | slice: 0, 20 }}...</h3>
                                    <div>{{ paper.author }}</div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>
