<section class="section grey-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <div class="section-info">
                        <h2>Our Researchers</h2>
                        <p></p>
                    </div>
                    <div>
                        <div>
                            <div class="card-grid">
                                {% assign members = site.members | sample: 9 %}
                                {% for member in members %}
                                <div class="card-view home-card-view">
                                    <div class="card-img">
                                        <a href="{{ member.url }}"><img src="{{ member.img_url }}"></a>
                                    </div>
                                    <div class="card-name-pos">
                                        <h3>{{ member.name | capitalize }}</h3>
                                        <p>{{ member.position | capitalize }}</p>
                                        <div>
                                            <a href="{{ member.github }}"><img src="/assets/icons/member_card_github.svg"></a>
                                            <a href="mailto:{{ member.email }}"><img src="/assets/icons/member_card_envelope.svg"></a>
                                            <a href="{{ member.profile }}"><img src="/assets/icons/member_card_person.svg"></a>
                                        </div>
                                    </div>
                                    <div class="card-desc">
                                        <ul>
                                            {% assign interests = member.research_interests | slice: 0,3 %}
                                            {% for interest in interests %}
                                            <li>- {{ interest }}</li>
                                            {% endfor %}
                                            {% if member.research_interests.size > 3 %}
                                            <li>...</li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="scroller">
                        <div class="scroller-btn"></div>
                        <div class="scroller-btn"></div>
                        <div class="scroller-btn"></div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>
<script src="/assets/js/home.js"></script>