body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

    /* Setting the background image */
    background-image: url('images/Title.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    transition: opacity 0.3s;

    /* /* Animation
    animation: bgAnimation 15s infinite alternate; */
  }
  
  header, nav, main, footer {
    max-width: 300px;
    margin: 100px auto;
    padding: 0px;
  }
  
  header {
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @keyframes bgAnimation {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 110% 110%;
    }
}

.img-resize{
    width: 300px;
    height: auto;
}